<div class="panel panel-default" style="margin-top:15px;">
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th style="width:80px;">序号</th>
                    <th>家长姓名</th>
                    <th>孩子班级</th>
                    <th>志愿时段偏好</th>
                    <th>志愿时段偏好</th>
                    <th style="width:120px;">签到总次数</th>
                    <th style="width:120px;">安排总次数</th>
                </tr>
            </thead>
            <tbody>
                {if empty($checkin_list)}
                <tr>
                    <td colspan="5" class="text-center text-muted">暂无数据</td>
                </tr>
                {else} {loop $checkin_list $item}
                <tr>
                    <td>{$item['index']}</td>
                    <td>{$item['volunteer_name']}</td>
                    <td>{$item['child_class']}</td>
                    <td>{$item['prefer_slots']}</td>
                    <td>
                        {php echo $slot_labels[$item['prefer_slots']] ?? $item['prefer_slots'];}
                    </td>
                    <td><span class="label label-info">{$item['sign_count']}</span></td>
                    <td><span class="label label-default">{$item['total_assigned']}</span></td>
                </tr>
                {/loop} {/if}
            </tbody>
        </table>
    </div>

</div>
<!-- 分页 -->
<div class="text-left" style="padding:5px 20px;">
    {$pager}
</div>